.main-header {
  width: 100%;
  height: 50px;
  background-color: #fafafb;
  border-top: 3px solid #f48024;
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 1px 6px rgba(59, 64, 69, 0.1);
}

.header {
  display: flex;
  align-items: center;
  max-height: 50px;
}

.logo {
  margin-right: auto;
}

.main-header a {
  text-decoration: none !important;
  font-size: 22px;
  color: black;
  padding-top: 5px;
  height: 20px;
  display: inline-block;
}

.main-header button {
  margin: 2px 2px;
}

.four.columns {
  float: right;
  text-align: right;
}

@media screen and (max-width: 400px) {
  #header-logo {
    font-size: 12px;
  }
}
