.question-list {
  max-width: 1000px;
  margin: 0 auto;
}

.one-third-column {
  text-align: right;
}

li {
  list-style: none;
}

#asked {
  color: #9199a1;
}
.asked-by {
  text-align: right;
}

a {
  text-decoration: none;
}

.link-color {
  color: #07c;
}
.link-color:hover {
  color: #3af;
}

.flex-header {
  padding-top: 50px;
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #eff0f1;
}

.heading {
  margin-right: auto;
}

.question {
  border-bottom: 1px solid #eff0f1;
}

#ask {
  border-width: 3px;
  border-color: orange;
}
