.landing {
  background-image: linear-gradient(to right, #126cfa 0%, #108aec 100%);
  color: #fff;
  padding: 30px;
}

.btn-border {
  border-color: #fff !important;
}


.orange-btn {
  border-color: orange !important;
}

/* .center {
  padding-top: 120px;
} */
