.question-list {
  max-width: 1000px;
  margin: 0 auto;
}

.one-third-column {
  text-align: right;
}

li {
  list-style: none;
}

.asked-by {
  text-align: right;
}

#asked {
  color: #9199a1;
}

a {
  text-decoration: none;
}
